<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interfaz</title>

    <link rel="stylesheet" href="~/bootstrap-5.0.2-dist/Alpha/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert2.css" />
    <link rel="stylesheet" type="text/css" href="~/bootstrap-5.0.2-dist/Alpha/Alpha1/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.13.6/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsumirAPI.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
        <!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Plantilla de Insumos Barrera</title>

        </head>
        <body style="background-color: #D3D3D3;">

           @*  <!-- Barra de navegación -->
            <nav class="navbar" style="background-color: #4169E1;">
                <div class="container">
                   <div class="cent">
                        <a class="navbar-brand text-white negrita" href="//localhost:7118/Home">Insumos Barrera</a>
                        </div>
                        </div>
              </nav> *@


            <!-- Barra de navegación -->
            <nav class="navbar" style="background-color: #4169E1;">
                <div class="container">
                    <div class="navbar-left">
                        <a href="Home">
                            <img class="navbar-logo" src="https://images.vexels.com/media/users/3/235848/isolated/preview/4b62529b242dcef2dbc6719899ecdd6e-gorro-de-cocinero-de-cocina.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navbar-center">
                        <a class="navbar-brand text-white negrita" href="//localhost:7118">
                            Insumos Barrera
                        </a>
                    </div>
                </div>
            </nav>


            <div>
                <br />
                <header class="masthead bg-primary text-white text-center">
                    <!-- Masthead Subheading-->
                    <p class="masthead-subheading font-weight-light mb-0 text-white">Gestión de Catalogos</p>
            </div>
            <div class="content" style="background-color: #D3D3D3;">

              @*   <div class="logo">
                    <!-- Aquí puedes insertar el logotipo de tu empresa -->
                    <img class="masthead-avatar mb-1" src="https://images.vexels.com/media/users/3/235848/isolated/preview/4b62529b242dcef2dbc6719899ecdd6e-gorro-de-cocinero-de-cocina.png" alt="..." />
                    <!-- Fin-->
                </div> *@


                <div class="contact-form text-white">
                    <h2></h2>

                    <div class="espacio"></div>

                        <nav class="navbar" style="background-color: #4169E1;">
                            <div class="container">
                    <ul class="nav-list">
                    <form id="login-form">
                        
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Categoria</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Inventario</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="UMedida" asp-action="CrearU">Unidad de Medida</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Usuario</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Producto</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Cliente</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Rol" asp-action="CrearRol">Rol</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Detalle Producto</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Categoria" asp-action="Crear">Proveedor</a></li>
                        @*    <button type="submit">Inventario</button> *@
                    </form>
                        </ul>
                        <nav>
                    </div>
                </div>
        </body>
    </html>

</header>

</body>
</html>

