html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.espacio {
    margin-bottom:30px; 
}

.centrotexto{
    margin-left:47%;
}


.centro {
    margin-left:15%;
}


.cent {
    margin-left: 44%;
}


.centrarDiv{
    margin-left:40%;
}

.boton-azul {
    color: white; /* Cambia el color del texto a blanco */
    background-color: #4169E1; /* Cambia el color de fondo del botón a azul */
    border: none; /* Quita el borde del botón si no lo deseas */
    padding: 10px 20px; /* Ajusta el espaciado del botón según necesites */
    border-radius: 5px; /* Opcional: agrega esquinas redondeadas al botón */
}


/*////////////////////////////////////////////////////////////////////////////////////*/


/* Estilos generales */
body {
    margin: 0;
    /* font-family: Arial, sans-serif;*/
    font-family: Thimesnewroma;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Barra de navegación */
.navbar {
    background-color: #d2b48c; /* Café claro */
    padding: 20px 0;
}

.navbar-brand {
    font-size: 24px;
    color: #0000FF; /* Color del texto de la barra de navegación */
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        display: inline;
        margin-left: 20px;
    }

.nav-link {
    color: #4169E1; /* Color del texto de los enlaces de navegación 777777777777777777777777 */
    text-decoration: none;
}

    .nav-link:hover {
        text-decoration: underline;
    }

/* Contenido principal */
.content {
    background-color: #fff; /* Fondo blanco */
    padding: 50px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.about {
    text-align: center;
    margin-bottom: 30px;
  
}

.contact-form {
    text-align: center;
}

    .contact-form input,
    .contact-form textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form button {
        background-color: #d2b48c; /* Café claro */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #b5947a; /* Café más oscuro al pasar el ratón */
        }


.bg-primary-custom {
     background-color: #4169E1;
    
}

/*//////////////////////////////////////////////////////////////////7 fila y columnas centradas*/

.nav-list {
    list-style-type: none; /* Quita los marcadores de lista */
    margin: 0; /* Quita el margen */
    padding: 0; /* Quita el relleno */
}

    .nav-list li {
        display: inline-block; /* Hace que los elementos de la lista se muestren en línea */
        margin-right: 20px; /* Ajusta el margen entre los elementos según sea necesario */
    }

.nav-link {
    color: blue; /* Cambia el color del texto a azul */
    font-weight: bold; /* Hace que el texto esté en negrita */
    text-decoration: none; /* Quita el subrayado del enlace */
}

    .nav-link:hover {
        text-decoration: underline; /* Subraya el enlace al pasar el ratón por encima */
    }

.negrita {
    font-weight: bold; /* Hace que el texto esté en negrita */
}
