html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Ocultar la columna Id en la tabla */
th:nth-child(1), td:nth-child(1) {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

/* Navbar */
.navbar {
    background-color: #4169E1;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.navbar-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

/* Content Wrapper */
.content-wrapper {
    padding: 14px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Table */
.table {
    width: 100%;
}

/* Buttons */
.boton-azul {
    color: white;
    background-color: #4169E1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Utility Classes */
.centrotexto {
    text-align: center;
}

.espacio {
    margin-bottom: 30px;
}

.centro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cent {
    text-align: center;
}

.centrarDiv {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.bg-primary-custom {
    background-color: #4169E1;
}

/* Additional Styles for Form and Buttons */
.contact-form {
    text-align: center;
}

    .contact-form input,
    .contact-form textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form button {
        background-color: #d2b48c;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #b5947a;
        }

/* Navigation List */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .nav-list li {
        display: inline-block;
        margin-right: 20px;
    }

.nav-link {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

    .nav-link:hover {
        text-decoration: underline;
    }

.negrita {
    font-weight: bold;
}




/*// logo center ellipse centro de label pagina */
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}
